/* You can add global styles to this file, and also import other style files */
$primary-color: #f47023;

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('/assets/fonts/Montserrat-Light.otf');
}

html, body {
    font-family: 'Montserrat';
    width: 100%;
    max-width: 100%;
}